body {
    background-color: #555555;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/*========
  Fonts
  ========*/

h1 {
    color: #000000;
    font-size: 14pt;
    text-align: left;
}

p {
    text-align: justify;
    color: #000000;
    font-size: 11pt;
}

ul li {
    text-align: justify;
    font-size: 11pt;
}

/*======
  Header
  ======*/

header {
    background-image: url('../img/header.jpg');
    background-position: center;
    background-size: 100% 400px;
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: center;
}

/*======
  Footer
  ======*/

.footer {
    position: fixed;
    width: 100%;
    background-color: #222222;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
}

/*======
  Navbar
  ======*/

.navbar {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #222222;
    overflow: hidden;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    float: left;
    padding: 14px 16px;
}

.navbar a:hover {
    background-color: darkorchid;
    color: #000000;
}

/*========
  Dropdown
  ========*/

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropdown-button {
    background-color: #9370DB;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*========
  Entry
  ========*/

.entry-container {
    display: grid;
    grid-row-gap: 50px;
}

.entry-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.entry-text {
    text-align: left;
}

.entry-text a {
    font-size: 15px;
}

.entry-image {
    background-color: rgba(0, 0, 0, 0.2);
    alignment: center;
}

.entry-caption {
    font-size: 15px;
    color: #000;
    text-align: center;
}

/*========
  Table
  ========*/

table {
    margin: 0 auto;
}

th {
    background-color: #9370DB;
    color: white;
}